.btn-primary {
    color: #fff !important;
    background-image: linear-gradient(to left,#08aeea,#17cec4) !important;
    border-color: unset !important;
    background-color: unset !important;
    &:hover {
        background-image: linear-gradient(to left,#0a9ed2,#15b8b4) !important;
    }
    &:focus {
        background-image: linear-gradient(to left,#0a9ed2,#15b8b4) !important;
        box-shadow: unset !important;
    }
}

.btn-secondary {
    color:#1f2126 !important;
    background-color: #fff !important;
    border-color: #fff !important;
    &:hover {
        background-image: unset !important;
    }
    &:focus {
        background-image: unset !important;
        box-shadow: unset !important;
    }
    &:active {
        background-image: unset !important;
        box-shadow: unset !important;
    }
    &:focus-visible {
        box-shadow: unset !important;
    }
}

.btn-success {
    border-color: unset !important;
}

.btn-outline-info {
    box-shadow:unset !important;
}

label {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #1f2126;
}

input {
    border: 1px solid #dbe0e6;
    background-color: #f6f9fd;
    border-radius: 4px;
}

.form-control {
    border-color: unset !important;
    box-shadow: unset !important;
}

.sort-by-wrapper {
    border-radius: 6px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);
    background-color: #fff;
  }
  .dropdown-item {
    cursor: pointer;
  }

  .hotel-icon {
    cursor: pointer;
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 24px;
  }