.hotel-image-wrapper {
    img {
      border-radius: 6px;
    }
  }
  
  .card-info-wrapper {
    border-radius: 6px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);
    background-color: #fff;
  }
  
  .rating-buttons {
    margin-top: auto;
    padding: 1.25rem;
  }